<!-- Modal Config-->
<div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Config</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid" id="content">
          <div class="row">
            <div class="col-12">
              <h6 class="text-primary">Project</h6>
            </div>
            <div class="col-12">
              <p class="text-secondary text-justify font-weight-light description">Project in which you are currently working, this value will appear in the history of the executed queries.</p>
            </div>
            <div class="col-12">
              <input type="text" id="txt-project" class="form-control input" placeholder="Project name">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <h6 class="text-primary">Source default</h6>
            </div>
            <div class="col-12">
              <p class="text-secondary text-justify font-weight-light description">Indicates the default data source when starting the application (restart required)</p>
            </div>
            <div class="col-12" id="col-source">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <h6 class="text-primary">Limit rows</h6>
            </div>
            <div class="col-12">
              <p class="text-secondary text-justify font-weight-light description">Default limit of records to be displayed in the result (restart required)</p>
            </div>
            <div class="col-12" id="col-limit">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <h6 class="text-primary">Delimiter char for txt files</h6>
            </div>
            <div class="col-12">
              <p class="text-secondary text-justify font-weight-light description">It is the delimiter character that separates the files generated as txt</p>
            </div>
            <div class="col-12">
              <input type="text" id="txt-delimiter" class="form-control input" placeholder="Delimiter char" maxlength=1>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <h6 class="text-primary">History duration days</h6>
            </div>
            <div class="col-12">
              <p class="text-secondary text-justify font-weight-light description">Duration in days of the queries in the history</p>
            </div>
            <div class="col-12">
              <input type="number" id="txt-hist_dur_days" class="form-control input" placeholder="History duration days">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <h6 class="text-primary">Dark mode (Experimental)</h6>
            </div>
            <div class="col-12">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary" id="lbl-dark-active">
                  <input type="radio" name="opt_darkmode" id="dark-active" value="1"> Active
                </label>
                <label class="btn btn-secondary" id="lbl-dark-inactive">
                  <input type="radio" name="opt_darkmode" id="dark-inactive" value="0"> Inactive
                </label>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <h6 class="text-primary">Vim mode (Experimental)</h6>
            </div>
            <div class="col-12">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary" id="lbl-vim-active">
                  <input type="radio" name="opt_vimmode" id="vim-active" value="1"> Active
                </label>
                <label class="btn btn-secondary" id="lbl-vim-inactive">
                  <input type="radio" name="opt_vimmode" id="vim-inactive" value="0"> Inactive
                </label>
              </div>
            </div>
          </div>
      </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btn-save_config" data-dismiss="modal">Save changes</button>
      </div>

      </div>
    </div>
  </div>