{% extends 'base.html' %}
{% block title %}SQL Workshop{% endblock %}

{% block header %}
    <script src="{{ url_for('static', filename='js/results.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vim.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
{% endblock %}

{% block content %}

{% include 'sqlws/panel.html' %}

{% include 'sqlws/result.html' %}

{% endblock %}