<div class="container-fluid">
    <div class="row d-none d-lg-block">
      <div class="col-12"><br></div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-3 col-xl-2 d-flex justify-content-center justify-content-lg-start">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          {% for src in data.SOURCES %}
          <label class="btn btn-secondary {% if src[0] == data.source %}active{% endif %}">
            <input type="radio" name="opt_source" id="opt-{{src[0]}}" value="{{src[0]}}" {% if src[0] == data.source %}checked{% endif %}>{{ src[1] }}</label>
          {% endfor %}
        </div>
      </div>
      <div class="col-5 col-md-4 col-lg-2 col-xl-2">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Rows</span>
          </div>
            <select class="form-control" id="output-limit">
              {% for limit in data.LIMITS %}
                <option value="{{limit[0]}}" {% if limit[0] == data.limit %} selected="selected" {% endif %}>{% if limit[1] == 'All' %}{{limit[1]}}{% else %}{{"{:,}".format(limit[1])}}{% endif %}</option>
              {% endfor %}
            </select>
        </div>
      </div>
      <div class="col-7 col-md-4 col-lg-3 col-xl-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Format</span>
          </div>
            <select class="form-control" id="output-format" name="output-format">
              <option value="{{data['FORMATS']['FORMAT_STD']}}">Estandar</option>
              <option value="{{data['FORMATS']['FORMAT_XLS']}}">Excel</option>
              <option value="{{data['FORMATS']['FORMAT_CSV']}}">csv</option>
              <option value="{{data['FORMATS']['FORMAT_TXT']}}">txt</option>
              <option value="{{data['FORMATS']['FORMAT_HTM']}}">html</option>
            </select>
        </div>
      </div>
      <div class="col-6 col-md-2 col-lg-2 col-xl-3 d-flex justify-content-md-end justify-content-lg-start">
        <button id="btn-run" type="button" class="btn btn-danger">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
              <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
          </svg> |
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
          </svg>
        </button>
      </div>
      <div id="dropdown-export" class="col-6 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-end">
        
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <div class="form-group mt-1">
            <textarea class="form-control input coding" id="txt-sql" rows="5" placeholder="Query SQL...">{{ data.query }}</textarea>
            <script type="text/javascript">
                vim.open({
                    debug : true
                });
            </script>
        </div>
      </div>
    </div>
  
  </div>