 <!-- Modal Histoy-->
<div class="modal fade" id="histoyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Histoy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <h1>Query's History</h1>
        <div id="history-container"></div>
      <script src="{{ url_for('static', filename='js/history.js') }}"></script>
      </div>

      </div>
    </div>
  </div>