<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <title>Data miner - Access</title>
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-3 col-lg-4"></div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card my-5">
                    <div class="card-body">
                        <div class="text-center">
                            <h3>Data Miner</h3>
                            <h5>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                                    <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg>
                            </h5>
                        </div>
                        {% for message in get_flashed_messages() %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %}
                        <form action="" method="POST">
                            <div class="form-group">
                                <input id="username" class="form-control" type="text" name="username" autofocus placeholder="User" required>
                            </div>
                            
                            <div class="form-group">
                                <input id="password" class="form-control" type="password" name="password" placeholder="Password" required>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4"></div>
        </div>
   </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>