<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
    <link rel="ico" href="{{ url_for('static', filename='img/favicon.ico') }}">
    
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>

    <title>{% block title %}{% endblock %} - DataMiner</title>
    {% block header %}{% endblock %}
  </head>
  <body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a href="/" class="navbar-brand"><span><h5>DataMiner</h5></span></a>
         <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>
         <div id="my-nav" class="collapse navbar-collapse">
             <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == url_for('sqlws.index') %} active {% endif %}">
                  <a class="nav-link" href="{{ url_for('sqlws.index')}}">SQL Workshop <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if request.path == url_for('history.history') %} active {% endif %}"> 
                  <a class="nav-link" href="{{ url_for('history.history')}}">History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="config" data-toggle="modal" data-target="#configModal">Config</a>
                </li>
             </ul>
            <div style="display: inline-block;">
              <button type="button" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
                </svg>
              </button>
              {% if g.user %}
              <!-- <img src="{{ url_for('static', filename='img/user.png') }}"  width="20" height="20"> <h6>&nbsp;{{ g.user['username'] }}&nbsp;</h6> -->
              <a href="{{ url_for('auth.logout') }}" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                  <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                </svg>
              </a>
              {% endif %}
            </div>
              
         </div>
     </nav> 
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}
    
    {% include 'config/configmodal.html' %}

  </body>
</html>