{% extends 'base.html' %}
{% block title %}SQL History{% endblock %}


{% block header %}
    <script src="{{ url_for('static', filename='js/history.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{% endblock %}

{% block content %}

<div class="container-fluid">
  
  <div class="row">
    <div class="col-6">
      <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-6"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Exec Date</th>
            <th scope="col">SQL</th>
            <th scope="col">Data source</th>
            <th scope="col">Status</th>
            <th scope="col">Project</th>
            <th scope="col">Seconds</th>
            <th scope="col">Username</th>
            <th scope="col">Description</th>
            <th scope="col">Execute</th>
            <th scope="col">Result</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody id="history-data">

      {% for history_row in data.history%}
          <tr id="h{{ history_row['id']}}">
            <td>{{ history_row['id']}}</td>
            <td>{{ history_row['exec_date']}}</td>
            <td class="coding">{{ history_row['query']}}</td>
            <td>{{ history_row['source']}}</td>
            <td>{{ history_row['status']}}</td>
            <td>{{ history_row['Project']}}</td>
            <td>{{ history_row['duration']}}</td>
            <td>{{ history_row['user_id']}}</td>
            <td id="td-description{{ history_row['id']}}" ondblclick="edit_enter_desc({{ history_row['id']}})">
              {{history_row['description']}}
            </td>
            <td>
              {% if history_row['status'] != None %}
              <a href="{{ url_for('index') + '?q=' + history_row['id'] | string() }}" id="btn-re-run" class="btn btn-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                  <path d="M9.079 11.9l4.568-3.281a.719.719 0 0 0 0-1.238L9.079 4.1A.716.716 0 0 0 8 4.719V6c-1.5 0-6 0-7 8 2.5-4.5 7-4 7-4v1.281c0 .56.606.898 1.079.62z"/>
                </svg>
              </a>
              {% endif %}
            </td>
            <td>
              {% if history_row['status'] != None %}
              <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                </svg>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('sqlws.export', id=history_row['id'], format=data.formats['FORMAT_XLS']) }}">Excel</a>
                    <a class="dropdown-item" href="{{ url_for('sqlws.export', id=history_row['id'], format=data.formats['FORMAT_CSV']) }}">csv</a>
                    <a class="dropdown-item" href="{{ url_for('sqlws.export', id=history_row['id'], format=data.formats['FORMAT_TXT']) }}">txt</a>
                    <a class="dropdown-item" href="{{ url_for('sqlws.export', id=history_row['id'], format=data.formats['FORMAT_HTM']) }}">html</a>
                </div>
              </div>
              {% endif %}
          </td>
          <td>
              {% if history_row['status'] != None %}
                <button id="btn-del" type="button" class="btn btn-danger" onclick="historydel({{history_row['id']}})">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
                </button>
              {% endif %}
          </td>
          </tr>
      {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

{% include 'sqlws/querymodal.html' %}

{% endblock %}