<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <title>DataMiner Page Not Found</title>
  </head>
  <body>


<div class="container-fluid">
    <div class="row">
        <div class="col-12" align="center">
            <a href="{{url_for('index')}}">
                <img src="{{ url_for('static', filename='img/404.gif') }}">
            </a> 
        </div>
    </div>
</div>

  </body>
</html>